<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
        {%for message in get_flashed_messages()%}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        <nav class="navbar navbar-expand-lg bg-primary-subtle">
          <div class="container-fluid">
            <a class="navbar-brand" href="/profile/{{user.id}}">{{user.username}}'s Profile</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('view.dash') }}">Back</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <br></br>
        {%if bookingscount != 0 %}
          {%for booking in book%}
            <div class="container-md p-2 my-5 border" style="border-radius: 1rem;">
                <h1>{{booking.Name}}</h1>
                <p>NUMBER OF TICKETS: {{booking.Tickets}}</p>
                <p>TICKET PRICE: {{booking.Ticket_price}}</p>
                <p>TOTAL PRICE:{{booking.Ticket_price * booking.Tickets}}</p>
                <b>
                  <form class="d-flex" method="POST" >
                    <input type="hidden" name="bookingid" id="bookingid" value={{booking.id}} >
                    <input type="hidden" name="showname" id="showname" value="{{booking.Name}}" >
                    <input class="form" type="number" id="rating" name="rating" min="1" max="5" placeholder="Rate" aria-label="book" name = 'Rate'>
                    <button class="btn  btn-outline-success btn-sm mr-1 " type="submit">Rate</button>
                  </form>
                </b>
                {%if booking.Rating != 0 %}
                  Rating given : {{booking.Rating}}/5
                {%endif%}
            </div>
          {%endfor%}
        {%else%}
        <div class="container-md p-2 my-5 border" style="border-radius: 1rem;">
          <h1>NO BOOKINGS YET</h1>
      </div>
        {%endif%}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    </body>
</html>